@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.newsletter {
  margin: 0 auto;
  padding: var(--padding-2-lg);
  @include flex-center;
  text-align: center;
  border-top: 2px solid var(--border-color-1);
  border-bottom: 2px solid var(--border-color-1);

  @media (max-width: 1025px) {
    flex-direction: column;
    padding: var(--padding-2-md);
    background-color: var(--secondary-light-color);
  }
}

.newsletter__title {
  color: var(--primary-dark-color);
  font-size: var(--font-size-lg);
  font-weight: var(--font-weight-bold);
  line-height: normal;
  margin-right: var(--margin-1-md);

  @media (max-width: 1025px) {
    margin: 0 auto var(--margin-1-sm);
  }
}

.newsletter__form {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: var(--max-width-form);

  input {
    font-size: var(--font-size-1-md);
    color: var(--secondary-color);
    background-color: var(--primary-light-color);
    border: 1px solid var(--secondary-color);
    border-width: 1px 0 1px 1px;
    border-radius: var(--border-radius-lg);
    padding: 0 var(--margin-1-sm) 0 24px;
    height: var(--height-lg);
    width: 100%;

    @media (max-width: 1025px) {
      height: var(--height-sm);
      border-width: 1px;
      border-radius: var(--border-radius-sm);
      margin-right: var(--margin-1-sm);
    }
  }

  button {
    height: var(--height-lg);
    padding: var(--padding-4-sm);
    color: var(--primary-light-color);
    background-color: var(--primary-color);
    border: 1px solid var(--primary-color);
    border-radius: var(--border-radius-sm);
    margin-left: -2px;

    @media (max-width: 1025px) {
      margin: 0;
      height: var(--height-sm);
      padding: 0 20px;
    }
  }
}