.home__main-banner {

  a,
  img {
    display: block !important;
    width: 100%;
  }

  a:hover {
    filter: unset;
  }

  .slick-track {
    display: flex;
  }

  .slick-prev {
    left: 8.4%;
  }

  .slick-next {
    right: 8.4%;
  }

  .slick-dots {
    bottom: 24px;

    li {
      margin-right: 16px;
    }

    li:last-child {
      margin: 0;
    }

    li.slick-active button {
      background-color: var(--primary-color);
    }

    button {
      font-size: 0;
      width: 16px;
      height: 16px;
      background-color: unset;
      border: 1px solid var(--primary-color);
      border-radius: 50%;
      transition: all 0.3s ease-in-out;
    }
  }

  .slick-slide {
    max-width: 100vw;
  }
}

.home .deals {
  max-width: 1640px;
  margin: 0 auto;
  padding: 24px 20px 74px;
  text-align: center;

  h3 {
    color: var(--second-color);
    text-align: center;
    font-size: 16px;
    font-weight: 700;
    line-height: normal;
    margin: 0 auto 20px;
  }

  .deals__wrapper {
    display: flex;
    justify-content: center;
  }

  .deal {
    display: flex;
    align-items: center;
    border-radius: 4px;
    background: #efefef;
    padding: 10px 26px;
    margin-right: 16px;

    &:last-child {
      margin: 0;
    }
  }

  img {
    width: auto;
    margin-right: 20px;
  }

  p {
    font-size: 12px;
    line-height: normal;
  }

  strong {
    color: var(--second-color);
    font-size: 14px;
    font-weight: 700;
  }
}

.home__brands {
  max-width: 1640px;
  margin: 0 auto;
  padding: 0 20px 80px;
  text-align: center;

  h3 {
    color: var(--second-color);
    font-size: 32px;
    font-weight: 700;
    line-height: normal;
    margin: 0 auto 16px;
  }
}

.home__brands-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2px;

  li {
    margin-right: 16px;
    width: fit-content;
    max-width: 308px;
    box-shadow: rgba(0, 0, 0, 0.05) 1px 1px 4px;
    border-radius: 4px;

    &:last-child {
      margin: 0;
    }
  }

  img {
    max-width: 100%;
    object-fit: contain;
  }
}

.home__seo {
  max-width: 1640px;
  margin: 0 auto;
  padding: 0 20px 80px;
}

.home__seo-wrapper {
  display: flex;
  align-items: center;
}

.home__seo-text {
  h2 {
    color: var(--primary-dark-color);
    font-size: 24px;
    font-weight: 700;
    margin: 0 0 16px;
  }

  p {
    color: var(--primary-dark-color);
    font-size: 14px;
  }
}

.home__seo-banner {
  margin-left: 64px;
  min-width: 69.6%;

  img {
    width: 100%;
  }
}

@media (max-width: 1025px) {
  .home__main-banner {
    .slick-prev {
      left: 7.8%;
    }

    .slick-next {
      right: 7.8%;
    }

    .slick-dots {
      bottom: 16px;

      button {
        width: 8px;
        height: 8px;
      }
    }
  }

  .home .deals {
    padding: 24px 30px 40px;

    .deals__wrapper {
      overflow: auto;
      justify-content: flex-start;
    }

    .deal,
    p {
      min-width: max-content;
    }
  }

  .home__brands {
    padding: 0 30px 40px;

    h3 {
      font-size: 24px;
      margin: 0 auto 24px;
    }
  }

  .home__brands-wrapper {
    overflow: auto;
    justify-content: flex-start;

    li {
      min-width: max-content;
    }
  }

  .home__seo {
    padding: 0 30px 40px;
  }

  .home__seo-wrapper {
    flex-direction: column;
    align-items: flex-start;
  }

  .home__seo-text {
    width: 90%;
    margin: 0 0 24px;
  }

  .home__seo-banner {
    margin: 0;
    min-width: 100%;
  }
}