@mixin flex-center {
  display: flex;
  align-items: center;
}

@mixin flex-column {
  display: flex;
  flex-direction: column;
}

@mixin flex-space-between {
  display: flex;
  justify-content: space-between;
}

@mixin text-center {
  text-align: center;
}

.shelf {
  max-width: var(--max-width-shelf);
  margin: 0 auto;
  padding: var(--padding-6-sm);
  @include text-center;

  .slick-track {
    @include flex-center;
  }

  .slick-slide {
    @include flex-center;
    justify-content: center;

    >div {
      width: max-content;
      max-width: 100%;
      height: 100%;
    }
  }

  @media (min-width: 1026px) {
    .slick-list {
      overflow: hidden;
    }

    .slick-prev {
      left: 8px;
    }

    .slick-next {
      right: 8px;
    }

    .slick-slide {
      padding: var(--padding-slide);
    }
  }

  @media (max-width: 1025px) {
    max-width: var(--max-width-mobile);
    padding: var(--padding-3-md);

    .shelf__title {
      font-size: var(--font-size-lg);
      margin: var(--margin-title-mobile);
    }

    .slick-slide {
      padding-right: 14px;
    }
  }
}

.shelf__title {
  color: var(--secondary-color);
  font-size: var(--font-size-lg);
  font-weight: var(--font-weight-bold);
  margin: var(margin-2-md);
}

.product {
  @include flex-column;
  height: var(--height-product);
  box-shadow: var(--box-shadow-1);

  &:hover {
    filter: unset;
  }

  * {
    line-height: normal;
  }

  img {
    max-width: 100%;
  }

  .product__info {
    @include flex-column;
    justify-content: space-between;
    padding: var(--padding-3-xs);
    text-align: start;
  }

  .details__wrapper {
    padding: var(--padding-3-lg);
  }

  .colors__wrapper {
    @include flex-center;

    .color {
      width: 27px;
      height: 27px;
      border-radius: var(--border-radius-sm);
      margin-right: var(--margin-xs);

      &:last-child {
        margin: 0;
      }

      &.selected {
        border: 1px solid var(--secondary-color);
      }
    }
  }

  .price {
    color: var(--secondary-color);
    font-size: var(--font-size-2-md);
    font-weight: var(--font-weight-bold);
    margin: var(--margin-2-sm);
  }

  .name {
    color: var(--primary-dark-color);
    font-size: var(--font-size-md);
    margin: var(--margin-1-lg);
  }

  .description {
    color: var(--primary-dark-color);
    font-size: var(--font-size-sm);
    opacity: 0.9;
  }

  .add-to-cart {
    width: 100%;
    border-radius: var(--border-radius-sm);
    background: var(--primary-color);
    height: var(--height-cart);
    color: var(--primary-light-color);
    font-size: var(--font-size-md);
  }
}

.center_image {
  display: flex;
  justify-content: center;
}