@mixin flex-space-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.search-bar__form {
  width: 100%;
  max-width: var(--max-width-1-form);
  @include flex-space-between;
  background-color: var(--background-color-form);
  border-radius: var(--border-radius-1);
  height: var(--height-form);
  padding-left: var(--padding-left-form);

  input {
    width: 100%;
    font-size: var(--font-size-sm);
    line-height: var(--line-height-sm);
    padding-right: var(--padding-right-input);
  }

  button {
    width: 100%;
    max-width: var(--max-width-button);
    color: var(--primary-light-color);
    text-align: center;
    font-size: var(--font-size-1-md);
    line-height: var(--line-height-md);
    height: 100%;
    border-radius: var(--border-radius);
    background-color: var(--primary-color);
    padding: var(--padding-5-sm);
  }
}