// Mixins
@mixin flex-center {
  display: flex;
  align-items: center;
}

@mixin flex-space-between {
  display: flex;
  justify-content: space-between;
}

.header__container {
  display: unset;
}

.header__top-bar {
  @include flex-center;
  background-color: var(--secondary-color);
  padding: var(--padding-2-xs);

  p {
    color: var(--primary-light-color);
    text-align: center;
    font-size: var(--font-size-sm);
    line-height: var(--line-height-sm);

    @media (max-width: 639px) {
      font-size: var(--font-size-xs);
    }
  }
}

.header__main {
  width: 100%;
  background-color: var(--primary-light-color);
  box-shadow: var(--box-shadow);
}

.header__main-wrapper {
  @include flex-space-between;
  align-items: center;
  column-gap: var(--margin-lg);
  max-width: var(--max-width-container);
  margin: 0 auto;
  padding: var(--padding-md);

  @media (max-width: 639px) {
    padding: var(--padding-lg);
    column-gap: 0;
  }
}

.header__links {
  @include flex-center;

  >*+* {
    margin-left: var(--margin-xl);
  }
}

.header__menu-item {
  @include flex-center;
  width: max-content;
  max-width: 100%;

  img {
    margin-right: var(--margin-xs);
  }

  a {
    font-size: var(--font-size-1-md);
    line-height: var(--line-height-md);
  }
}

.menu-item__wrapper--highlight {
  border-radius: var(--border-radius);
  padding: var(--padding-highlight);

  a {
    color: var(--primary-color);
  }
}

.header__menu-wrapper {
  @include flex-center;
  justify-content: center;
  max-width: var(--max-width-menu);
  margin: 0 auto;
  padding: var(--padding-2-sm);

  .header__menu-item {
    min-width: 13%;
    justify-content: center;
    margin-right: var(--margin-sm);

    &:last-child {
      margin: 0;
    }
  }
}

.header__right-icons {
  @include flex-center;

  >*+* {
    margin-left: var(--margin-xl);
  }

  @media (max-width: 639px) {
    margin-left: auto;
    margin-right: var(--margin-md);
  }
}

@media (max-width: 639px) {
  .header__top-bar {
    p {
      font-size: var(--font-size-xs);
      line-height: var(--line-height-sm);
    }
  }

  .header__main-wrapper {
    padding: var(--padding-lg);
    column-gap: 0;
  }

  .header__open-drawer {
    margin-right: var(--margin-md);
  }

  .header__logo {
    margin-right: auto;
    min-width: 110px;
    max-width: 100%;
  }
}

.menu-item__wrapper {
  display: flex;
}