@mixin flex-center {
  display: flex;
  align-items: center;
}

.footer-menu {
  padding: var(--padding-1-xs);

  @media (max-width: 1025px) {
    padding: var(--padding-1-sm);
  }
}

.footer-menu__wrapper {
  display: flex;
  justify-content: space-between;
  max-width: var(--max-width-desktop);
  margin: 0 auto;

  @media (max-width: 1025px) {
    flex-direction: column;
    max-width: var(--max-width-mobile);
  }

  >*+* {
    @media (min-width: 1026px) {
      margin-left: var(--margin-left-md);
    }

    @media (max-width: 1025px) {
      margin-top: var(--margin-top-sm);
    }
  }

  div[role="button"] {
    @include flex-center;
    justify-content: space-between;
    color: var(--secondary-color);
    cursor: pointer;

    span {
      font-size: var(--font-size-md);
      font-weight: var(--font-weight-bold);
      line-height: var(--line-height-sm);
    }

    @media (min-width: 1026px) {
      margin-bottom: var(--margin-top-md);

      svg {
        display: none;
      }
    }

    @media (max-width: 1025px) {
      &::after {
        display: block;
        font-size: var(--font-size-md);
        font-weight: var(--font-weight-bold);
        line-height: var(--line-height-sm);
      }
    }
  }

  .vtex__icon-caret-down,
  .vtex__icon-caret-up {
    display: none;
  }

  div[role="region"] a {
    margin-top: var(--margin-top-sm);
    color: var(--primary-dark-color);
    font-size: var(--font-size-sm);
    line-height: var(--line-height-sm);

    @media (min-width: 1026px) {
      margin-bottom: var(--margin-top-md);

      &:last-child {
        margin: 0;
      }
    }
  }

  div[aria-expanded="false"]::after {
    @media (max-width: 1025px) {
      content: "+";
    }
  }

  div[aria-expanded="true"]::after {
    @media (max-width: 1025px) {
      content: "-";
    }
  }
}